<div class="fondo">
	<div class="formulario">
		<form action="">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/La_Paz_Bus_logo.svg/1019px-La_Paz_Bus_logo.svg.png" height="150px" width="150px">
			<h1>Nuevo Usuario</h1>
			<h3>Llenar los siguientes campos</h3>

			<section id="llenado">
				<p>

					<label for="name">Usuario</label>
					<input type="text" name="user" id ="name">
			</p>

					<p>
						<label for="con"> Contraseña</label>
						<input type="text" name="con" id ="con">
			</p>



			</section>
		</form>


		<button class="submit">Agregar</button>
		<button class="button">Cancelar</button>

	</div>
</div>