<div class="fondo">
	<div class="formulario">
		<form action="" [formGroup]="usuarioForm">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/La_Paz_Bus_logo.svg/1019px-La_Paz_Bus_logo.svg.png" height="150px" width="150px">
			<h1>Nuevo Usuario</h1>
			<h3>Llenar los siguientes campos</h3>

			<section id="llenado">
				<p>

					<label for="name">Email</label>
					<input type="text"  formControlName="email">
			</p>

					<p>
						<label for="con"> Contraseña</label>
						<input type="password" formControlName="password">
			</p>



			</section>
		</form>


		<button class="submit" (click)="onCreate()">Agregar</button>
		<button class="button" (click)="onCancel()">Cancelar</button>

	</div>
</div>