
<div style="display: flex; justify-content: center;">

        <img style="margin-top:200px;" src="https://www.flaticon.es/svg/static/icons/svg/2154/2154743.svg" height="300" width="300">
        
   
    <table>
        <tr>
            <th> <img src="https://www.flaticon.es/svg/static/icons/svg/2972/2972528.svg" width="50px" height="50px"></th>
            <th>Tabla de Horarios </th> 
        </tr>

        <tr>
            <th>Horario</th>
            <th> Frecuencia </th>
            
        </tr>

        <tr *ngFor="let horario of horarios" >
            <td>{{horario.horario}}</td>
            <td> {Cada 10 minutos} </td>
            

        </tr>
        
</table>

</div>
