<div class="container">


	<div class="topFondo">
		<h1 style="margin-left:5%;color:white;padding-top:30px; text-overflow: ellipsis;white-space: pre;">NUEVA HISTORIA
		</h1>

	
    <button class="btn1" (click)="onCancel()">Cancelar</button>
    <button class="btn2" (click)="onCreate(form)">Publicar</button>

	</div>
		<div class="contenedor1">
			<div class="login-container">
				<div class="register">
					<h2>Contenido de la Historia</h2><br>
					<form action="" [formGroup]="historiaForm">
            <label for="year">Año</label>
						<input type="text" id="fecha" formControlName="anio">
						<label for="img">Imagen</label>
						<input type="url" id="imagen" formControlName="imageUrl">
						<label for="text">Texto</label>
						<textarea id="info" formControlName="texto"></textarea>
					</form>
				</div>
			</div>
		</div>
	</div>