<div style="background:#E6C779;">
  <div class="topFondo">
    <button class="blogout">Log out</button>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/La_Paz_Bus_logo.svg/1019px-La_Paz_Bus_logo.svg.png"
      height="150px"
      width="150px"
    />

    <div class="button">
      <li><a href="”#”">Editores</a></li>
      <li><a href="”#”">Noticias y Comunicados</a></li>
      <li><a href="”#”">Rutas</a></li>
      <li class="end"><a href="”#”">Sobre La Paz Bus</a></li>
    </div>
  </div>
  <button class="bnuevo">+ Nuevo</button>

  <div class="content">
    <h1 style="margin-left:10%;padding-top:50px;color:#455A64;">
      Lista de Editores
    </h1>

    <div class="editor">
      <p class="edit">Editor 1</p>
      <button class="delete">ELIMINAR</button>
    </div>
    <div class="editor">
      <p class="edit">Editor 2</p>
      <button class="delete">ELIMINAR</button>
    </div>
    <div class="editor">
      <p class="edit">Editor 3</p>
      <button class="delete">ELIMINAR</button>
    </div>
    <div class="editor">
      <p class="edit">Editor 4</p>
      <button class="delete">ELIMINAR</button>
    </div>
  </div>
  <div class="footer">
    <p>@2020 L2N.org</p>
  </div>
</div>
