<div style="background:#E6C779;">
  
  <button class="bnuevo" (click)="openForm()">+ Nuevo</button>

  <div class="content">
    <h1 style="margin-left:10%;padding-top:50px;color:#455A64;">
      Lista de Editores
    </h1>

    <div class="editor">
      <p class="edit">Editor 1</p>
      <button class="delete">ELIMINAR</button>
    </div>
    <div class="editor">
      <p class="edit">Editor 2</p>
      <button class="delete">ELIMINAR</button>
    </div>
    <div class="editor">
      <p class="edit">Editor 3</p>
      <button class="delete">ELIMINAR</button>
    </div>
    <div class="editor">
      <p class="edit">Editor 4</p>
      <button class="delete">ELIMINAR</button>
    </div>
  </div>

</div>
