<div style="background:#E6C779;">
  
  <button class="bnuevo" (click)="openForm()">+ Nuevo</button>

  <div class="content">
    <h1 style="margin-left:10%;padding-top:50px;color:#455A64;">
      Lista de Editores
    </h1>

    <div class="editor" *ngFor="let usuario of usuarios">
      <p class="edit">{{usuario.email}} ({{usuario.estado}})</p>
      <button class="delete"  (click)="onUpdate(usuario.id, usuario)">{{usuario.estado==="desactivado" ? 'Activar' : 'Desactivar'}}</button>
    </div>


</div>
