<h1 style="margin-left:10%;margin-top:50px;color:white;">ÚLTIMAS NOTICIAS</h1>
<button class="bnuevo" (click)="openForm()">+ Nuevo</button>

<div class="content">

	<div *ngFor="let noticia of noticias" class="post">
		<div class="image">
			<img [src]="noticia.imageUrl" /></div>
			<button class="beliminar" (click)="onDelete(noticia.id)">Eliminar</button>
			<button class="beditar">Editar</button>
			<h2>{{noticia.titulo}}</h2>
			<p class="date">{{noticia.fecha}}</p>
			<p>{{noticia.texto}}</p>
		</div>
	</div>