<button class="bnuevo" (click)="openForm()">+ Nuevo</button>

<div *ngFor="let tarifa of tarifas">
 <table>
        <tr>
            <th> <img [src]="tarifa.imageUrl" width="50px" height="50px"></th>
            <th>{{tarifa.titulo}}</th> 
        </tr>

        <tr>
            <th>Diurno</th>
            <th> Bs </th>
            <th> Nocturno</th>
        </tr>
        
        <tr>
            <td>Efectivo</td>
            <td> {{tarifa.efectivoDiurno}} </td>
            <td> {{tarifa.efectivoNocturno}}</td>

        </tr>

        <tr>
            <td>Tarjeta</td>
            <td> {{tarifa.tarjetaDiurno}} </td>
            <td> {{tarifa.tarjetaNocturno}}</td>
        </tr>
        
        

    </table>
      <button class="beliminar">Eliminar</button>

    <div class="editar">
    <a class="btn4" > Editar </a>
    </div>

</div>

   