<div class="container">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/La_Paz_Bus_logo.svg/1019px-La_Paz_Bus_logo.svg.png"
    height="150px"
    width="150px"
  />
  <div class="login-container">
    <div class="register">
      <h2>Inicio Sesión</h2>
      <form action="" #form="ngForm">


        <input type="email" placeholder="Email" class="usuario" />

        <input type="password" placeholder="Contraseña" class="pass" />

        <input type="submit" class="submit" value="Ingresar" />
      </form>
    </div>
  </div>
</div>
